@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:#F6F6F6"></body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><img src="~/Assets/burger.png"></p>
    <h2 class="display-4">To The Future Of Food Delivery</h2>
</div>
