@model Project1.WebUI.ViewModels.OrderViewModel
@using Microsoft.AspNetCore.Http;
@{ 
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Store Location</label>
                <select asp-for="StoreLocationId" class="form-control" asp-items="ViewBag.StoreLocationId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Product</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"> </select>
                @ViewData["error"]
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
