@model IEnumerable<Project1.WebUI.ViewModels.StoreViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Store Search</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="IndexStore">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Enter Store Id: </label>
                <input type="text" id="search" name="search" />
            </div>
            <div class="form-group">
                <input type="submit" id="Search" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
